@charset "UTF-8";

table {
  background-color: transparent;
  border-collapse: collapse;
  margin-top:25px;
}

th {
  color:#1d2088;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

td {
  padding-left: 45px;
}

th {
  text-align: center;
  font-weight: normal;
}

.map-link {
  display: inline-block;
  width:auto;
  text-align: center;
  vertical-align: baseline;
  color: #32B14B;
  font-size:14px;
  border: solid 1px #32B14B;
  border-radius: 10px;
  padding-left: 3px;
  margin-left: 5px;
}
.fa-arrow-right {
  display: inline-block;
  margin: 0px 2px;
  transition: padding-left 0.2s;
}

.map-link:hover {
  opacity: 0.6;
}
.map-link:hover > i {
  padding-left: 8px;
}
tr:last-child {
  border-bottom: 1px solid #ddd;
}
